@import "../../../style/variables.scss";
@import "../../../style/mixin.scss";

.Loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100svh;
  background-color: $global-color-beige;
  z-index: $global-elevation-4;
  transition: opacity 0.5s ease-in;
  opacity: 1;

  &--end {
    opacity: 0;
  }

  .Loading__logo {
    font-size: 60px;
    letter-spacing: 0.05em;
    color: $font-color-red;
  }

  .Loading__textWrapper {
    position: relative;
    margin-top: 16px;
    text-align: center;
  }

  .Loading__text {
    font-size: 15px;
    color: $font-color-red;
  }

  .Loading__underline {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: $font-color-red;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }

  .Loading__percent {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: $font-color-red;
  }
}
