// font-color
$font-color-red: #650d0d;
$font-color-gray: #464646;
$font-color-white: #fff;
$font-color-black: #2d2d2d;
// hover
$font-color-hover: #835d5d;
$background-color-hover: #c3a079;
// background-color
$global-color-beige: #fdfbf5;
$global-color-base: #fdfbf5;
// timing-function
$timing-function-image: cubic-bezier(0.83, 0, 0.17, 1);
// z-index
$global-elevation-background: -999;
$global-elevation-1: 1000000;
$global-elevation-2: 4000000;
$global-elevation-3: 8000000;
$global-elevation-4: 2147483647;
